<template>
    <div>
        <form class="form-inline" style="margin-bottom: 50px;">
            <div class="form-group">
                <label>Please select a date</label>
                <datepicker name="datepicker" @selected="selectDate" :format="customFormatter"
                            input-class="form-control mx-sm-3" id="datepicker"></datepicker>
            </div>
        </form>

        <div class="alert alert-danger" role="alert" v-if="error">
            {{ error }}
        </div>

        <div class="alert alert-success" role="alert" v-if="success">
            Record updated successfully!
        </div>

        <form  v-if="editForm" @submit="submitForm">
            <h3>Edit form</h3>
            <div class="form-group row">
                <span class="col-sm-2">Date</span>
                <div class="col-sm-4">
                    <span class="col-sm-2">{{ date}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="temperature" class="col-sm-2 col-form-label">Temperature</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="temperature" v-model="temperature">
                </div>
            </div>
            <div class="form-group row">
                <span class="col-sm-2">Chance for rain</span>
                <div class="col-sm-4">
                    <span class="col-sm-2">{{ chanceForRain}}</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>
<script>
    import Datepicker from 'vuejs-datepicker';
    import moment from 'moment';
    import axios from 'axios';

    export default {
        data() {
            return {
                error: null,
                success: null,
                editForm: false,
                id: null,
                date: null,
                temperature: null,
                chanceForRain: null
            };
        },
        methods: {
            selectDate(value) {
                this.error = this.day = null;
                this.editForm = this.success = false;
                let date = this.customFormatter(value);
                axios
                    .get('/forecast/day', {
                        params: {
                            date: date
                        }
                    })
                    .then(response => {
                        this.editForm = true;
                        this.id = response.data.id;
                        this.date = response.data.date;
                        this.temperature = response.data.temperature;
                        this.chanceForRain = response.data.chance_for_rain;
                    }).catch(error => {
                    this.error = error.response.data.message || error.message;
                });
            },
            submitForm: function (e) {
                if (!this.temperature) {
                    this.error = 'Please fill the box';
                } else {
                    axios.post('/forecast/edit_day', {
                            id: this.id,
                            temperature: this.temperature
                        })
                        .then(response => {
                            this.editForm = false;
                            this.success = true;
                        }).catch(error => {
                        this.error = error.response.data.message || error.message;
                    });
                }

                e.preventDefault();
            },
            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            }
        },
        components: {
            Datepicker
        }
    };
</script>