<template>
    <div>
        <h1>Weather forecast</h1>
        <p>
            <router-link :to="{ name: 'home' }">Home</router-link>
            |
            <router-link :to="{ name: 'admin' }">Admin</router-link>
        </p>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {};
</script>