<template>
    <div class="forecast">

        <div class="alert alert-light" role="alert" v-if="loading">
            Loading...
        </div>

        <div class="alert alert-danger" role="alert" v-if="error">
            {{ error }}
        </div>

        <table class="table table-striped" v-if="forecast">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Temperature</th>
                <th scope="col">Chance for rain</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in forecast">
                <td>{{ row.date }}</td>
                <td>{{ row.temperature }}</td>
                <td>{{ row.chance_for_rain }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loading: false,
                forecast: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                this.error = this.forecast = null;
                this.loading = true;
                axios
                    .get('/forecast')
                    .then(response => {
                        this.loading = false;
                        this.forecast = response.data;
                    }).catch(error => {
                    this.loading = false;
                    this.error = error.response.data.message || error.message;
                });
            }
        }
    };
</script>